@charset "UTF-8";

#mp4 {
	
	height:450px;
}

#cmt {
	
	height:350px;
}

#select {
	height:130px; 
	font-family: 'Jeju Gothic', sans-serif;
}

#rank {
	height:500px;
	margin-bottom:500px;

}

table {
  margin: 20px 0px 0px 280px;
  border: 10px #a39485 solid;
  font-size: 15px;
  box-shadow: 10 10px 15px rgba(0,0,0,.25);
  width: 70%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  color:#11114e;
}

th {
  text-align: left;
}
  
thead {
  padding:2px;
  font-weight: bold;
  color: #11114e;
  background:#00ff0000;
  
}
  
 td, th {
 	
	vertical-align: middle;
	height:20px;  	
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: -0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
 
 
 
 
 